body{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
    font-size: 15pt;
    font-weight: bold;
    background: rgba(201, 163, 49, 0.2);
}

header{
    top: 0;
    margin: 0;
    display: flex;
    color: white;
    border-bottom: solid black 5px;
    background-color: #910279;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 13vh;
}

header img{
    display: flex;
    border-radius: 50px;
    background-color: white;
    margin: 15px 35px 0 3px;
    /* margin-top: 5px;
    margin-right: 35px; */
    height: 8vh;
    width: 14vw;
    transition: 1s;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-size: 20pt;
    margin: 20px;
    color: white;
    text-decoration: none;
}

#progresso{
    height: 3vh;
    width: 1px;
    background-color: #11001c;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

aside{
    margin: 30px 0 0 -2px;
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(-310px);
    transition: 1s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

aside.mostrando{
    background-color: rgba(41, 0, 37, 0.8);
    transform: translateX(0);
}

.mostrando img{
    margin: 15px 35px 0 -70px;
    transition: 1s;
}

aside nav{
    display: flex;
    flex-direction: column;
}

aside nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 20pt;
    color: white;
    /* text-transform: uppercase; */
}

#botaomenu{
    width: 15vw;
    height: 50px;
    position: fixed;
    top: -25px;
    right: -105px;
    display: flex;
    cursor: pointer;
}

#botaomenu img{
    border: solid 5px black;
    border-radius: 100%;
}


h3{
    margin-top: 8vh;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.first{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first img{
    width: 35vw;
    height: 30vh;
}

.foto{
    display: flex;
    flex-direction: row;
}

.edit img{
    display: flex;
    width: 20px;
    height: 20px;
}

.pessoa img{
    border-radius: 100%;
    border: solid black 5px;
    height: 150px;
    width: 150px;
}

.sobrenos{
    padding: 5vh;
}

.gif img{
    width: 65vw;
    height: 30vh;
    border-radius: 100%;
}

form{
    margin: 5vh 5vw 5vh 5vw;
}

/* form div p{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

form input{
    width: 50%;
    height: 75px;
} */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid black 5px;
    background-color: #910279;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 2px 2px 2px 2px;
}

.maps{
    margin-bottom: -5px;
    margin-top: 13vh; 
}

.maps img{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 0;
}
