body{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
    font-size: 15pt;
    font-weight: bold;
}

header{
    top: 0;
    margin: 0;
    display: flex;
    color: white;
    border-bottom: solid black 5px;
    background-color: darkmagenta;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 13vh;
}

header img{
    display: flex;
    border-radius: 50px;
    background-color: white;
    margin: 15px 35px 0 3px;
    /* margin-top: 5px;
    margin-right: 35px; */
    height: 8vh;
    width: 14vw;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-size: 20pt;
    margin: 20px;
    color: white;
    text-decoration: none;
}

#progresso{
    height: 3vh;
    width: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

aside{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(-310px);
    transition: 1s;
}

aside.mostrando{
    background-color: lightgray;
    transform: translateX(0); 
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.first img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 5px black; 
}

aside nav{
    display: flex;
    flex-direction: column;
}

aside nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 20pt;
    color: black;
}

#botaomenu{
    width: 15vw;
    height: 50px;
    position: fixed;
    top: 5px;
    right: -30px;
    display: flex;
    cursor: pointer;
}

#botaomenu img{
    border: solid 5px black;
    border-radius: 100%;
}

.first{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid black 5px;
    background-color: darkmagenta;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 2px 2px 2px 2px;
}

.maps{
    margin-bottom: -5px;
}

.maps img{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 0;
}
