body{
    margin: 0 auto;
    font-family: 'Acme', sans-serif;
}

header{
    background-color: rgba(139, 0, 139, 0.39); 
    height: 10vh;
    width: 100%;
    border: solid black 0.3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header div{
    margin: 0 15px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20pt;
}

header div img{
    width: 40px;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    box-sizing: border-box;
}

header nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20pt;
}

.linha{
    border-bottom: solid 1px darkmagenta;
}

.linha:hover{
    border-bottom: solid 5px darkmagenta;
}

.download{
    height: 100vh;
    background: lightyellow;
    margin: 0;
}

.botoes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botoes img{
    width: 25px;
}

button{
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border: solid 2px black;
    font-weight: bolder;
}

button:hover{
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: solid 2px black;
    font-weight: bolder;
    color: white;
}

section{
    height: 100vh;
    margin: 25px 50px 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section div h1{
    text-align: center;
}

iframe{
    height: 300px;
    width: 200px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    border-top: solid black 0.3vh;
    background-color: rgba(139, 0, 139, 0.39); 
}

footer div{
    /* width: 80%; */
    padding: 0.5vw;
}

footer .redes{
    display: flex;
    flex-direction: column;
}

footer .redes a img{
    width: 40px;
}

footer .patrocinadores{
    display: flex;
    flex-direction: column;
}

footer .patrocinadores a{
    text-decoration: none;
    color: black;
    flex-direction: column;
    display: flex;
}

footer .agradecimento{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .agradecimento img{
    width: 50px; 
}

@media screen and (max-width: 550px){
    header{
        justify-content: space-around;
        display: none;
    }
    header h3{
        display: none;
    }
    .botoes{
        display: flex;
        flex-direction: column;
    }
    .botoes div{
        display: flex;
        justify-content: space-around;
        margin: 0 0 20px 0;
    }
    footer .agradecimento{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}